.card {
    position: fixed;
    top: 30%;
    left: 33%;
    text-align: center;
    font-size: 28px;
    width: 512px;
    height: 300px;
}

md-card-title {
    color: black;
    height: 176px;
}
#container {
    background-color: rgba(122, 133, 255, 0.9);
}

