#threejs {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.power-bar {
    position: absolute;
    left: 40vw;
    top: 64vh;
    width: 20vw;
    height: 2vh;
    z-index: 1;
}

.counterclockwiseArrow {
    width: 1vw;
    height: 1vh;
    position: absolute;
    top: 55vh;
    right: 46vw;
}

.clockwiseArrow {
    width: 1vw;
    height: 1vh;
    position: absolute;
    top: 55vh;
    left: 44vw;
}

.textNextShot {
    position: absolute;
    top: 80vh;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
